@model InvoiceManager.Invoice

@{
    ViewBag.Title = "Create";
}


<h2 style="text-align: center">CREATE NEW INVOICE</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.clientId, "Client Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("clientId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.clientId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.invoiceDate, "Invoice Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.invoiceDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.invoiceDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<h4 style="color: black; text-align: center; font-weight: bold">Add Invoice Items</h4>

<div class="add-item">
    <label for="item">Item</label>
    <input class="form-control" type="text" id="itemName" name="item" required><br>

    <label for="unitPrice">Unit Price</label>
    <input class="form-control" type="text" id="unitPrice" name="unitPrice" required><br>

    <label for="quantity">Quantity</label>
    <input class="form-control" type="text" id="quantity" name="quantity" value="1"><br>

    <button class="btn" id="add-item" onclick="addItem()">Add Item</button>
</div>

<h4 style="color: black; text-align: center; font-weight: bold">Items</h4>

<div class="items">
    <table>
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
        </thead>

        <tbody id="items">
            
        </tbody>
    </table>

</div>


<script>
    let tableBody = document.getElementById("items");

    function addItem() {
        let itemName = document.getElementById("itemName").value;
        let unitPrice = document.getElementById("unitPrice").value;
        let quantity = document.getElementById("quantity").value;

        let newRow = document.createElement("tr");

        newRow.innerHTML = `
            <tr>
                <td class="r1">${itemName}</td>
                <td class="r2">${unitPrice} EGP</td>
                <td class="r3">${quantity}</td>
                <td class="r4">${unitPrice * quantity} EGP</td>
            </tr>
        `;

        tableBody.appendChild(newRow);

    }
</script>



<div>
    @Html.ActionLink("Back", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




<style>
    .form-control, .text-danger {
        width: 100%;
        border-radius: 10px
    }

    h5 {
        font-weight: bold;
        display: inline-flex
    }



    .btn {
        width: 100%;
        border-radius: 60px;
        margin: 0;
        background-color: #099;
        color: white;
        font-weight: bold
    }

        .btn:hover {
            background-color: #055;
            color: white;
        }

    #add-item {
        width: 24%
    }
    .add-item .label {
        width: 100px
    }

    .form-horizontal {
        background-color: #eee;
        padding: 0 0 15px 0;
        border-radius: 20px;
        margin-bottom: 20px
    }

    .add-item {
        width: 100%;
        background-color: #eee;
        padding: 20px;
        border-radius: 20px;

    }


    table, td, th {
        border: 1px solid black;
        padding: 5px;
        margin: 2px
    }

    td, th {
        padding: 5px 40px;
    }

    table {
        margin-left: 23%;
        margin-top: 20px;
    }
    
</style>